* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Playfair Display', serif;
}

html,
body {
    background-color: #F6F6F6;
}

a,
a:hover {
    text-decoration: none;
    transition: linear .2s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
address,
strong,
b,
main,
button,
article,
nav {
    font-family: 'Playfair Display', serif;
}

button,
button:hover,
button:focus {
    outline: none;
}

.navbar-toggler {
    border: 1px solid #1B2437;
    display: none;
}

.site-logo {
    width: 150px;
    margin: 10px 0;
}

.header-icons ul {
    margin: 0;
    list-style: none;
    text-align: center;
}

.header-icons ul li {
    display: inline-flex;
    margin: 5px 15px;

}

.header-icons ul li a {
    color: #1B2437;
    font-size: 18px;
    padding: 3px;

}

.action-menu ul {

    margin: 0;
    list-style: none;
    text-align: right;

    padding: 0;
}

.action-menu ul li {
    display: inline-flex;
    margin: 5px 8px;
}

.action-menu ul li a {
    color: #1B2437;
    font-size: 20px;
    padding: 3px;

}

.nav-item {
    margin: 0 25px;
}

.nav-link {
    color: #1B2437;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    position: relative;
}

.nav-link.active {
    padding-bottom: 30px;
}

.nav-link.active::after {
    content: '';
    height: 20px;
    width: 2.4px;
    background-color: #1B2437;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}


.home-banner {
    background-image: url(../image/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    padding: 150px 0;
}

.banner-content h1 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 400;
    line-height: 64px;
    margin-bottom: 18px;
}

.banner-content p {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 25px;
    font-family: muli, sans-serif;
}

.btn-theme {
    background-color: transparent;
    border-radius: 16px;
    border: 2px solid #ffffff33;
    color: #fff;
    padding: 15px 30px;
    line-height: 1;
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    transition: linear .2s;
    font-family: muli, sans-serif;
}

.btn-theme:hover {
    text-decoration: none;
    color: #fff;
    background-color: #EDA3B5;
    border-color: #EDA3B5;
    transition: linear .2s;
}

.popular-category img {
    margin-bottom: 30px;
    width: 100%;
    border-radius: 16px;
}

.category-slider {
    margin-top: 10px;
    background: #fff;
    border-radius: 16px;
    padding: 30px;
    position: relative;
    margin-bottom: 40px;
}

.category-item {
    text-align: center;
}

.category-item h2 {
    color: #1B2437;
    font-size: 20px;
}

.product-sec {
    margin-bottom: 40px;
}

.product-card {
    background-color: #fff;
    border-radius: 16px;
    overflow: hidden;
}

.product-card h3 {
    font-size: 34px;
    font-weight: 400;
    line-height: 46px;
    margin: 0;
    padding: 25px;
    padding-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
}

.product-card h3 a {
    color: #1B2437;
}

.product-card p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8E8E93;
    margin: 0;
    padding: 0 25px;
    font-family: muli, sans-serif;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
}

.price {
    padding: 30px 25px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.price h5 {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

.price h5 span {
    font-size: 34px;
    font-weight: 400;
    line-height: 46px;
    margin-left: 5px;
}

.price button {
    border: 2px solid #EDA3B5;
    border-radius: 16px;
    background-color: #fff;
    padding: 0 25px;
    color: #EDA3B5;
    font-family: muli, sans-serif;
    font-weight: 600;
    outline: none;
}

.footer-sec {
    background-color: #fff;
}

.footer-menu {
    padding: 10px 15px;
    border-bottom: 1px solid #EFEFF4;
}

.footer-menu ul {
    margin: 0;
    list-style: none;
    text-align: center;
    padding: 0;
}

.footer-menu ul li {
    display: inline-flex;
    margin: 5px 20px;
}

.footer-menu ul li a {
    color: #1B2437;
    font-size: 18px;
    padding: 3px;
}

.footer-menu ul li a:hover {
    text-decoration: line-through;
}

.footer-logo {
    margin-top: 60px;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 25px;
}

.footer-logo p {
    margin: 0;
    color: #8E8E93;
    font-size: 16px;
    line-height: 27px;
    font-family: muli, sans-serif;
}

.footer-link {
    margin-top: 60px;
}

.footer-link h3 {
    font-size: 24px;
    line-height: 32px;
    color: #1B2437;
    margin-bottom: 25px;
}

.footer-link ul {
    margin: 0;
    list-style: none;

    padding: 0;
}

.footer-link ul li {
    margin-bottom: 12px;
}

.footer-link ul li a {
    color: #1B2437;
    font-size: 16px;
    line-height: 20px;
    font-family: muli, sans-serif;
}

.copyright {
    background-color: #EFEFF4;
    padding: 15px 0;
    margin-top: 50px;
}

.copyright p {
    color: #8E8E93;
    font-size: 16px;
    line-height: 2.6;
    margin: 0;
    font-family: muli, sans-serif;
}

.footer-social-menu ul {
    margin: 0;
    list-style: none;
    text-align: right;
}

.footer-social-menu ul li {
    display: inline-flex;
    margin: 5px 8px;
}

.footer-social-menu ul li a {
    color: #1B2437;
    font-size: 18px;
    padding: 3px;
}


.owl-nav {
    margin: 0;
}

.category-carousel .owl-nav button {
    font-size: 24px !important;
    line-height: 1 !important;
    height: 36px;
    width: 36px;
    border-radius: 8px !important;
    position: absolute;
    margin: 0 !important;
    outline: none;
}

.category-carousel .owl-prev {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}


.category-carousel .owl-next {
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.owl-dots .owl-dot {
    height: 16px;
    width: 16px;
    margin: 3px;
    position: relative;
    border-radius: 50%;
    outline: none;
}

.owl-dots .owl-dot.active {
    border: 1px solid #1b243766 !important;
}

.owl-dots .owl-dot span {
    margin: 0 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 8px !important;
    width: 8px !important;
    background-color: #1b243766 !important;
}

.owl-dots .owl-dot.active span {
    background-color: #1B2437 !important;
}

.title h2 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 34px;
    line-height: 46px;
    color: #1B2437;
    font-weight: 400;
}

.product-card-nav {
    position: relative;
}

.product-card-nav button {
    font-size: 24px !important;
    line-height: 1 !important;
    height: 36px;
    width: 36px;
    border-radius: 8px !important;
    position: absolute;
    margin: 0 !important;
    outline: none;
    border: none;
    background-color: #FFFFFF;
    color: #D1D1D6;
}

.product-card-nav .owl-prev {
    top: 50%;
    right: 60px;
    transform: translate(0, -50%);
}

.product-card-nav .owl-next {
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}